

mat-sidenav {
    width: 280px;
    border-right: none;
    text-align: center;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.avatar {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    margin: 0 auto;
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    margin: 10px 0;
    mat-icon {
        margin-right: 8px;
    }
}

mat-divider {
    margin: 20px 0px;
    background-color: #fff;
}

/* Slider container ayarları */
.swiper-container {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  
  /* Slider içindeki her bir kartın stili */
  .swiper-slide {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 16px;
    text-align: center;
    overflow: hidden;
  }
  
  /* Haber resmi için stil */
  .swiper-slide img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 12px;
  }
  
  /* Başlık ve açıklama ayarları */
  .swiper-slide h2 {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
  }
  
  .swiper-slide p {
    font-size: 14px;
    color: #666;
  }
  
  /* Swiper pagination ve navigation */
  .swiper-pagination {
    bottom: 10px;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    color: #333;
  }
  
  .box{
    padding: 10px 10px;
    background-color: rgb(240,240,240);
}

.box h5{
    font-size: 15px;
    font-weight: bold;
}

.box img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}


