// body {
//     margin: 0;
//     font-family: Arial, sans-serif;
//   }
  
//   .toolbar {
//     background-color: #3f51b5;
//     color: white;
//     padding: 10px;
//     display: flex;
//     align-items: center;
//   }
  
//   .icon-button {
//     background: none;
//     border: none;
//     color: white;
//     cursor: pointer;
//     font-size: 20px;
//     margin-right: 10px;
//   }
  
//   .sidenav-container {
//     display: flex;
//   }
  
//   .sidenav {
//     width: 200px;
//     background-color: #f0f0f0;
//     padding: 15px;
//     display: none;
//   }
  
//   .content {
//     flex-grow: 1;
//     padding: 20px;
//     background-color: #f9f9f9;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
//   }
  
//   .avatar {
//     width: 100px;
//     height: 100px;
//     border-radius: 50%;
//   }
  
//   .menu-button {
//     background: none;
//     border: none;
//     cursor: pointer;
//     padding: 10px;
//     display: flex;
//     align-items: center;
//     font-size: 18px;
//   }
  
//   .icon {
//     font-size: 20px;
//   }
  

mat-sidenav {
    width: 280px;
    border-right: none;
    text-align: center;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.avatar {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    margin: 0 auto;
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    margin: 10px 0;
    mat-icon {
        margin-right: 8px;
    }
}

mat-divider {
    margin: 20px 0px;
    background-color: #fff;
}